html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #438e29;
}

/* .homepage{
    display:flex;
    flex-direction: column;
} */

.mainnav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    color: #438e29;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.leftnav > ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

}

.rightnav > ul {
    list-style-type: none;
    font-size: 16px;
}


.titleimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-color: #f9fafb;
    background-image: url(https://i.imgur.com/5SZRejd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:#242A30;
    border-top: 1px solid lightgrey;
}

.title {
    font-size: 48px;
    margin: 0px 0px 16px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

.subtitle {
    font-size: 24px;
    color:#242A30;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 10px;
}

.cats {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.cats > div {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.cats > div > a > button {
    padding: 13px 33px;
    margin: 0px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    color: none;
    color: #438e29;
    border:none;
    border: 1px solid #438e29;
}

.cats > div > a:hover button {
    color: #ffffff;
    background-color: #51af33;
    cursor: pointer;
}

.cats > div > span {
    padding: 13px 0px;
    margin: 0px 10px;
    font-size: 16px;
    color: #51af33;
    cursor: pointer;
}
.cats > div > span:hover {
    color: #438e29;
}

.howitworks {
    color:#242A30; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f9fafb;
    height: 530px;
    padding: 48px 70px;
    margin: 0px 0px 0px;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;

}

.howitworkslist {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    list-style-position: inside;
    width: 100%;
}

.howitworkslist > li {
    padding: 24px 24px 24px 24px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    width: 33%;
    margin: 0px 20px;
}


.howitworkslist > li > div{
    padding-top: 24px;
}

.howitworksimg {
    width: 180px;
    text-align: center;
}

.howitworksdesc {
    text-align: left;
    line-height: 1.5;
}
.howitworkstitle {
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}

.getinspired {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.getinspiredtitle {
    font-size: 40px;
    color: #242A30;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 40px;
}
.getinpiredimg1 {
    width: 655px;
    height: 390px;
}

.getinspiredimage2 {
    height: 300px;
    width: 315px;
}

.getinspiredfirst {
    display: flex;
    margin-bottom: 40px;
    padding-left: 20px;
}

.getinspiredfirst > div > a > button{
    padding: 13px 25px;
    margin: 0px 10px;
    background-color: #51af33;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.getinspiredfirst > div > a:hover > button{
    background-color:#438e29;
}
.getinspiredfirstsubtitle {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-bottom: 15px;

}
.getinspiredprice {
    color: #31A7A8;
    padding-bottom: 20px;
}
.fas.fa-tag {
    transform: rotate(90deg);
    padding: 0px 15px;
}

.getinspiredfirst  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9fafb;
    padding: 32px;
    width: 252px;
    margin-left: 30px;
}

.getinspiredsecond {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 10px;
    padding-left: 20px;
}

.getinspiredsecond > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9fafb;
    width: 315px;
    height: 480px;
    margin-left: 20px;
    margin-right: 10px;
}
.getinspiredsecond > div > a > button{
    padding: 13px 33px;
    margin: 0px 10px;
    background-color: #51af33;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.getinspiredsecond > div > a:hover > button{
    background-color:#438e29;
}

.getinspiredothersubtitle {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 15px;
    padding-top: 20px;

}
.fasend {
    transform: rotate(90deg);
    font-size: 48px;
    color: #51af33;
 
}
.fasstart {
    transform: rotate(-90deg);
    font-size: 48px;
    color: lightgray;
}
.fasend > i {
    cursor: pointer;
}
.fasstart2 {
    transform: rotate(-90deg);
    font-size: 48px;
    color: #51af33;
 
}
.fasend2 {
    transform: rotate(90deg);
    font-size: 48px;
    color: lightgray;
}
.fasstart2 > i {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background: #67727E;
    padding: 32px 180px 32px 180px;
    height: fit-content;
    color: #B1B9C3;
}

.loginsignup {
    background-image: url(https://s3-us-west-2.amazonaws.com/com.uppercut.hero-images/assets/0405/comps/405_01941.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    text-align: center;
    position: relative;
}

.loginsignupform {
    background: white;
    width: 500px;
    height: 450px;
    position: absolute;
    right: 450px;
    top: 50px;
    border-radius: 5px;
}

.loginsignupform > button {
    background: #51af33;
    width: 440px;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
}

.loginsignupform > h2 {
    padding-bottom: 40px;
}

.loginsignupform > button:hover {
    background: #438e29;
}
.loginsignuplist {
    display: flex;
    justify-content: center;
}

.loginsignuplist > a > button {
    padding: 10px 15px;
    background-color: #ffffff;
    margin: 20px 15px;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    color: none;
    color: #438e29;
    border:none;
    border: 1px solid #438e29;
}

.loginsignuplist > a:hover button {
    color: #ffffff;
    background-color: #51af33;
    cursor: pointer;
}

.loginsignupheader {
    font-size: 35px;
    font-weight: bold;
     color: #438e29;
     padding: 20px 0px;
     text-align: center;
}


.loginsignuptext {
    font-size: 14px;
}

.signupformtemplate{
    display: flex;
    justify-content: center;
    background-image: url(https://s3-us-west-2.amazonaws.com/com.uppercut.hero-images/assets/0405/comps/405_01941.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    
}

.signupform {
    background: white;
    width: 450px;
    height: 650px;
    position: absolute;
    right: 500px;
    top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.signupform > label {
    font-size: 14px;
    color: #86919D;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0px 15px; 
}

.signuplabel input[type="text"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 16px;
}

.signuplabel input[type="password"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 16px;
}

.signuplabel input[type="number"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 16px;
}
.signupform > p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding-left: 15px;
}
.signupform > div {
    color: #d14200;
    font-size: 0.87rem;
    line-height: 1.5;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    line-height: 1.5;
}

.signupform input[type="submit"] {
    background: #51af33;
    color: white;
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    font-size: 19px;
    margin: 0px 15px 10px 15px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.signupform input[type="submit"]:hover {
    background: #438e29;
}

.loginform {
    background: white;
    width: 500px;
    height: 350px;
    position: absolute;
    right: 450px;
    top: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.loginform > label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #86919D;
    text-align: left;
    padding: 0px 30px; 
}

.loginform input[type="submit"] {
    background: #51af33;
    color: white;
    height: 45px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    font-size: 19px;
    margin: 15px 25px 10px 25px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.loginform input[type="submit"]:hover {
    background: #438e29;
}

.loginform > label input[type="password"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 16px;
}

.loginform > label input[type="text"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 16px;
}

.loginformtext {
    font-size: 16px;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    color:#438e29;
}

.loginform > div {
    color: #d14200;
    font-size: 0.87rem;
    line-height: 1.5;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    line-height: 1.5;
}

.loggedintitle {
    font-size: 32px;
    margin: 0px 0px 16px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

.loggedinsubtitle {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    text-align: left;
    color:#242A30;
     -webkit-font-smoothing: antialiased;
}

.loggedinsubtitle > div {
    font-size: 24px;
    padding: 40px 100px 0px 100px;
}

.loggedinsubtitle > span {
    font-size: 20px;
    padding: 40px 100px 50px 100px;
}

.accountformcontainer {
    height: 740px;
    color:#242A30;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9fafb;
}

.accountformcontainer > section {
    margin: 80px;
    height: 350px;
    width: 750px;
    border: 1px solid lightgray;
    background: #ffffff;

}

.accountformcontainer > section > h3 {
    font-size: 28px;
    border-bottom: 1px solid lightgray;
    margin: 20px 10px 10px 10px;
    padding-bottom: 10px;
}

.accountformcontainer > section > div > ul {
    font-size: 20px;
    text-align: left;
    line-height: 2.0;
    padding: 10px 0px 20px 50px;
}

.accountformcontainer > section > div {
    display: flex;
}
.accountformcontainer > section > div > img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
}


.accountformcontainer > section > div > ul > li > button {
    padding: 10px 22px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.fas.fa-user {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.far.fa-envelope {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.fas.fa-map-marker-alt {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.fab.fa-github-square {
    padding: 0px 5px;
    width: 20px;
    height: 20px;
}

.fab.fa-linkedin {
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.lowernav {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    list-style: none;
    list-style: decimal;
    list-style-position: inside;
    color: #B1B9C3;

}

.lowernav > li {
    padding: 15px 200px 15px 0px;
    list-style: none;
    list-style: decimal;
    list-style-position: inside;
     -webkit-font-smoothing: antialiased;
}
.lowernav > span {
    padding-left: 200px;
}

.selected {
    color: #404852;
}
.fas.fa-pencil-alt {
    padding-top: 15px;
    padding-right: 15px;
    color: #404852;
}

.fas.fa-smile {
    padding-top: 15px;
    padding-right: 15px;
    color:#242A30;
}

.fas.fa-check {
    padding-top: 15px;
    padding-right: 15px;
    color:#242A30;
}
.lowernavcont {
    display: flex;
    flex-direction: column;
}

.lowernavcont > div {
    display: flex;
    justify-content: center;
    background: #E8EBEF;
    font-size: 20px;
    padding: 20px 0px;
     -webkit-font-smoothing: antialiased;
}

.lowernavcont > div > div {
    font-weight: bold;
    padding-right: 5px;
    -webkit-font-smoothing: antialiased;
}

.lowernavcont > div > i {
    margin-right: 16px;
    color: #438e29;
}
.taskform > main > h1 {
    font-size: 32px;
    text-align: center;
    padding-top: 32px;
    -webkit-font-smoothing: antialiased;
}

.taskform > main > h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    -webkit-font-smoothing: antialiased;
}
.taskform > main {
    background: #f9fafb;
}

.taskinterest {
    border: 2px solid #dce0e6;
    margin: 20px 200px 5px 200px;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.taskinterest > div {
    padding: 22px;
    display: flex;
    flex-direction: column;
}

.taskinterest > div > div {
    padding-bottom: 15px;
}
.taskinterest > div > span {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.taskinterest > div > label {
    line-height: 1.5;
}
.taskinterest > div > h1 {
    text-align: center;
    margin-top: 20px;
}

.taskinterest > div > h1 > button {
    padding: 13px 30px;
    background-color:#51af33;
    border-radius: 5px;
    font-size: 16px;
    color: none;
    color: #ffffff;
    font-size: 19px;
}

.taskinterest > div > h1 > button:hover {
    background-color: #438e29;
    cursor: pointer;
}

.taskinterest > div > div {
    display: flex;
    justify-content: space-between;
}

.fas.fa-clipboard-check {
    padding-right: 10px;
    color: #86919D;
}
.fas.fa-check {
    color: #51af33;
}

.taskinterest > div > h2 > label > i {
    color: #86919D;
}

.taskinterest > div > h2 {
    display: flex;
    justify-content: space-between;
}

.taskinterest > div > h2 > div{
    color: #36B5BB;
}

.taskinterest > div > input[type="text"] {
    height: 40px;
    border: none;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 16px;
}
.fas.fa-tasks {
    padding-right: 10px;
    color: #86919D;
}


.taskinterest > div > p {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.taskinterest > div > textarea {
    height: 100px;
    resize: none;
    border: 1px solid #51af33;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
}

.taskerProfile {
    display: flex;
    border: 1px solid lightgray;
    background: #ffffff;
    margin: 40px 300px 40px 300px;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
}
.taskerProfile > div {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.taskerName{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
    border-bottom: 1px solid lightgray;
    padding-right: 50px;
}
.taskerName > h2 {
    font-size: 32px;
}

.taskerName > span {
    font-size: 24px;
}
.taskerProfile > div > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.taskerinfo > div > h3 {
    font-weight: bold;
    line-height: 1.5;
    padding-top: 20px;
}

.taskerinfo >  div > h4 {
    line-height: 1.5;
}
.taskerimagesec {
    align-items: center;
    width: 33%;
    font-size: 14px;
    line-height: 1.5;
}

.taskerimagesec > span {
    text-align: center;
}

.taskerinfo {
    width: 66%;
}

.taskerProfile > div > h1 > button {
    padding: 13px 30px;
    background-color:#51af33;
    border-radius: 5px;
    font-size: 16px;
    color: none;
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0px;
}

.taskerProfile > div > h1 > button:hover {
    background-color: #438e29;
    cursor: pointer;
}
.datetimebackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9fafb;
    height: 740px;
}

.datetime {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    background: #ffffff;
    width: 50%;
    height: 40%;
    padding: 32px;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
}

.datetimeinput {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-right: 30px;
    border-right: 1px solid lightgray;
}

.datetime > div > div > h2 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.datetime > div > div > label > input[type = "date"] {
    padding: 10px 5px 10px 5px;
    width: 90%;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.datetime > div > div > label > input[type = "time"] {
    padding: 10px 5px 10px 5px;
    width: 90%;
    font-size: 16px;
    margin: 10px 0px 10px 0px; 
}

.datetimeinfo > div > h1 > button{
    padding: 13px 30px;
    background-color:#51af33;
    border-radius: 5px;
    font-size: 16px;
    color: none;
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0px;
}
.datetimeinfo > div > h1 > button:hover {
    background-color: #438e29;
    cursor: pointer;
}
.datetimeinfo {
    line-height: 1.5;
}

.datetimeinfo > div {
    padding-left: 30px; 
}

.datetimeinfo > div > div {
    font-size: 24px;
}

.maketask {
    display: flex;
    justify-content: center;
    background: #f9fafb;
    padding: 50px 270px;
}

.maketask > form > h1 > button {
    padding: 13px 30px;
    background-color:#51af33;
    border-radius: 5px;
    font-size: 19px;
    color: none;
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0px;
    
}


.maketask > form > h1 > button:hover {
    background-color: #438e29;
    cursor: pointer;
}

.maketask > form > h1 {
    text-align: center;
}

.maketask > form {
    border: 1px solid lightgray;
    padding: 24px;
    margin-right: 30px;
    background: #ffffff;
    width: 60%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
}

.maketask > form > div {
    padding-bottom: 15px; 
}

.maketask > form > textarea {
    height: 200px; 
    width: 95%;
    padding: 8px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
     border: 1px solid #67727E;;
}

.maketask > div {
    border: 1px solid lightgray;
    padding: 16px;
    background: #ffffff;
    width: 40%;
    height: fit-content;
    line-height: 1.5;
    border-radius: 5px;
}



.confirmheader {
    display: flex;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    -webkit-font-smoothing: antialiased;
   
}
.maketask > div > div > div > img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    padding: 20px;
}

.maketask > div > div > div {
    display: flex;
    flex-direction: column;
}
.confirmheader > div > h2 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.confirmtaskinfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    line-height: 3;
    padding: 10px 0px;
}
.confirmtaskinfo > span > i {
    padding-right: 16px;
}

.confirmprice {
    padding: 16px 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.confirmpolicy {
    font-size: 14px;
    padding: 15px 0px;
}

.confirmpolicy > p {
    padding: 15px 0px;
}

.error {
    font-size: 14px;
    color: #d14200;
    padding-top: 15px;
}